.banner {
  height: 100vh;
  width: 100%;
  background-color: var(--highlight);
  background-image: url(/assets/banner-img.jpg);
  background-position: center 50%;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  > span {
    font-size: 1.75rem;
    word-spacing: 0.4em;
    letter-spacing: 1px;
    text-align: right;
    margin-top: -0.25em;
    margin-bottom: 0.75em;
  }
}
