#contact {
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  form {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 7rem;

    label {
      display: none;
    }

    input,
    textarea {
      opacity: 0.5;
      padding: 0.875rem 0;
      font-size: 1em;
      font-family: var(--text-ff);
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      background-color: transparent;
      color: var(--text);
      font-weight: 500;
      transition: all 0.25s ease;

      &:focus,
      &:active {
        opacity: 1;
        outline: none;
        border-color: var(--text);
      }
    }

    textarea {
      resize: vertical;
      height: 7rem;
    }

    .form-control {
      display: flex;
      @media screen and (max-width: 550px) {
        flex-flow: column nowrap;
      }
      > * {
        flex: 1;

        &:last-child {
          margin-left: 3.5rem;
          @media screen and (max-width: 550px) {
            margin-left: 0;
            margin-top: 1.75rem;
          }
        }
      }
    }

    .captcha-and-submit {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        order: -1;
        cursor: pointer;
        align-self: center;
        border: none;
        outline: none;
        padding: 0.75em 1em;
        font-size: 1em;
        font-family: var(--text-ff);
        background-color: var(--text);
        color: var(--secondary-background);
        border: 1px solid var(--text);
        font-weight: 500;
        transition: all 0.25s ease;

        &:hover,
        &:focus {
          background-color: var(--secondary-background);
          color: var(--text);
        }
      }
    }

    > * {
      margin-bottom: 1.75rem;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  .contact-details {
    display: flex;
    @media screen and (max-width: 700px) {
      flex-flow: column nowrap;
    }

    ul {
      flex: 1;
      list-style-type: none;
      margin-left: 3.5rem;
      @media screen and (max-width: 900px) {
        margin-left: 1.75rem;
      }
      @media screen and (max-width: 700px) {
        margin-left: 0rem;
      }

      li {
        margin-bottom: 1.75rem;
        span {
          opacity: 0.5;
          font-size: 1.1rem;
        }

        a {
          color: var(--text);
          margin-left: 0.875rem;
          font-size: 1.1rem;
        }
      }
    }

    #google-map {
      flex: 1;
      background-image: url(/assets/map.png);
      height: 400px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: -100vw;
    background-color: var(--secondary-background);
    z-index: -1;
  }
}
