footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 7rem 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: -100vw;
    background-color: var(--secondary-background);
    z-index: -1;
  }

  span {
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
      opacity: 0.5;
      transition: opacity 0.25s ease;
      margin-right: 2.5rem;

      &:hover {
        opacity: 1;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 1.05rem;
      }
    }
  }
}
