#portfolio {
  display: flex;
  flex-flow: column nowrap;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem 3.5rem;
    margin-top: 3.5rem;

    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }

    li a {
      display: flex;
      flex-flow: column nowrap;
      text-decoration: none;
      color: inherit;
      transition: transform 0.25s ease;

      &:hover {
        // color: inherit;
        transform: translateY(-10px);
      }
    }

    img {
      width: 100%;
    }

    span {
      text-transform: capitalize;
      padding: 0.25rem 0;
      font-size: 1.8em;
    }
  }
}
