body {
  font-family: var(--text-ff);
  font-weight: 300;
  color: var(--text);
  background-color: var(--background);
  line-height: 1.4;
}

a {
  color: var(--highlight);

  &:hover {
    color: var(--text);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titles-ff);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 7.75vw;
  cursor: default;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: 15px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-size: 1.5rem;
}

p,
span {
  font-size: 1.075rem;
}

// temporary
img {
  width: 100px;
}
