*, *::before, *::after { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:focus, *::before:focus, *::after:focus { outline: none; }

:root { --highlight: #068a01; --text: #333; --background: #fdfdfd; --secondary-background: #f9f9f9; --text-ff: 'Hind', sans-serif; --titles-ff: 'Eczar', serif; }

html { scroll-behavior: smooth; }

body { font-family: var(--text-ff); font-weight: 300; color: var(--text); background-color: var(--background); line-height: 1.4; overflow-x: hidden; }

main { max-width: 1020px; margin: 0 auto; padding: 7rem 0 0; overflow-x: hidden; }

@media screen and (max-width: 1120px) { main { margin: 0 60px; } }

@media screen and (max-width: 1020px) { main { padding: 7rem 6vw 0; margin: 0; } }

main > * { padding: 7rem 0; }

a { color: var(--highlight); }

a:hover { color: var(--text); }

h1, h2, h3, h4, h5, h6 { font-family: var(--titles-ff); font-weight: 400; text-transform: capitalize; margin-bottom: 0.75em; }

h1 { font-size: 7.75vw; cursor: default; text-transform: uppercase; line-height: 1; margin-bottom: 0; letter-spacing: 15px; }

h2 { font-size: 3.25rem; }

h3 { font-size: 2.25rem; }

h4, h5, h6 { font-size: 1.5rem; }

p, span { font-size: 1.15rem; line-height: 1.8; }

.cta-link { text-decoration: none; font-size: 0.875em; font-weight: bolder; color: inherit; padding: 0.75em 1em; background-color: rgba(255, 255, 255, 0.25); -webkit-transition: background-color 0.25s ease; transition: background-color 0.25s ease; outline: none; }

.cta-link:hover, .cta-link:focus { color: inherit; background-color: #d20023; }

.navbar { position: fixed; width: 100%; max-width: 100vw; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; color: white; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; z-index: 9999; }

@media screen and (min-width: 1000px) { .navbar { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.navbar a { color: inherit; text-transform: uppercase; text-decoration: none; letter-spacing: 2px; position: relative; }

.navbar a::after { content: ''; position: absolute; bottom: calc(0.1em - 1px); height: 1px; left: 0; right: 0; background-color: currentColor; -webkit-transform-origin: center; transform-origin: center; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.navbar a:hover::after, .navbar a:focus::after { -webkit-transform: scaleX(0.75); transform: scaleX(0.75); outline: 0; }

.navbar .bar { max-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 3rem 3rem; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }

@media screen and (min-width: 400px) { .navbar .bar { padding: 3rem 4rem; } }

.navbar .bar .logo { font-size: 1.1rem; font-family: var(--titles-ff); margin-right: 1rem; white-space: nowrap; }

@media screen and (min-width: 400px) { .navbar .bar .logo { font-size: 1.5rem; } }

.navbar .bar .logo::after { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.navbar .bar .menu-toggle { width: 0.9rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; min-width: 15px; }

@media screen and (min-width: 400px) { .navbar .bar .menu-toggle { width: 1.2rem; } }

@media screen and (min-width: 1000px) { .navbar .bar .menu-toggle { display: none; } }

.navbar ul { max-width: 100%; height: 100%; list-style-type: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; max-height: 0; opacity: 0; }

@media screen and (min-width: 1000px) { .navbar ul { height: auto; max-height: -webkit-max-content; max-height: -moz-max-content; max-height: max-content; opacity: 1; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; margin-left: auto; padding-right: 4rem; } }

.navbar ul li { visibility: hidden; }

@media screen and (min-width: 1000px) { .navbar ul li { visibility: visible; margin-left: 3rem; } }

.navbar ul a { line-height: 1; font-weight: 500; font-size: 0.95em; }

@media screen and (min-width: 400px) { .navbar ul a { font-size: 1.1em; } }

@media screen and (min-width: 1000px) { .navbar ul a { font-size: 0.8em; letter-spacing: 1.25px; } }

.navbar.fixed { color: var(--text); }

@media screen and (min-width: 1000px) { .navbar.fixed { background-color: white; -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04); box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04); } }

.navbar.fixed .bar { background-color: white; padding-top: 1.5rem; padding-bottom: 1.5rem; -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04); box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04); }

@media screen and (min-width: 1000px) { .navbar.fixed .bar { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; } }

.navbar.fixed ul { background-color: rgba(255, 255, 255, 0.9); }

@media screen and (min-width: 1000px) { .navbar.fixed ul { background-color: transparent; } }

.navbar.active { height: 100vh; }

.navbar.active ul { max-height: 100%; opacity: 1; }

.navbar.active ul li { visibility: visible; }

@media screen and (min-width: 1000px) { .navbar.active { height: auto; } }

.banner { height: 100vh; width: 100%; background-color: #27b7d1; background-image: url(/assets/banner-img.jpg); background-position: center 65%; background-size: cover; color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 1100px) { .banner { background-position: center 70%; } }

@media screen and (max-width: 1000px) { .banner { background-position: center 75%; } }

@media screen and (max-width: 900px) { .banner { background-position: center 80%; } }

.banner h1 { margin: 0 1.75rem; text-align: center; }

@media screen and (max-width: 600px) { .banner h1 { font-size: 3rem; } }

.banner > span { font-size: 1.75rem; word-spacing: 0.4em; letter-spacing: 1px; text-align: right; margin-top: -0.25em; margin-bottom: 0.75em; }

@media screen and (max-width: 600px) { .banner > span { font-size: 1.5rem; margin-bottom: 1.25em; margin-top: 0; } }

#about h3 { margin-top: 7rem; }

#about p { max-width: 850px; }

#about ul { max-width: 1080px; margin-top: 3.5rem; list-style-type: none; display: -ms-grid; display: grid; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; -webkit-column-gap: 3.5rem; column-gap: 3.5rem; row-gap: 1.75rem; }

@media screen and (max-width: 550px) { #about ul { -ms-grid-columns: 1fr; grid-template-columns: 1fr; row-gap: 1.75rem; } }

#about ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#about ul li img { width: 100%; }

#about ul li span { line-height: 1; letter-spacing: 1px; text-transform: capitalize; }

#about ul li span.team-member-name { margin: 0.75rem 0 0.25rem; font-weight: 500; }

#about ul li span.team-member-role { opacity: 0.5; }

#services { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

#services::before { content: ''; position: absolute; top: 0; bottom: 0; left: -100vw; width: 200vw; background-color: var(--secondary-background); z-index: -1; }

#services .cta-link { padding: 0.75rem 1.25rem; -ms-flex-item-align: start; -ms-grid-row-align: start; align-self: start; font-size: 1rem; border: 1px solid #aaa; color: var(--text); }

#services .cta-link:hover, #services .cta-link:focus { background-color: var(--text); border-color: var(--text); color: var(--secondary-background); }

#services ul { list-style-type: none; display: -ms-grid; display: grid; gap: 3.5rem; margin: 3.5rem 0; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; }

@media screen and (max-width: 775px) { #services ul { -ms-grid-columns: 1fr; grid-template-columns: 1fr; }
  #services ul p { max-width: 550px; } }

#portfolio { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

#portfolio ul { list-style-type: none; display: -ms-grid; display: grid; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; gap: 1.75rem 3.5rem; margin-top: 3.5rem; }

@media screen and (max-width: 550px) { #portfolio ul { -ms-grid-columns: 1fr; grid-template-columns: 1fr; } }

#portfolio ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; text-decoration: none; color: inherit; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; outline: none; }

#portfolio ul li a:hover, #portfolio ul li a:focus { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

#portfolio ul li a:focus { opacity: 0.75; }

#portfolio ul img { width: 100%; }

#portfolio ul span { text-transform: capitalize; padding: 0.25rem 0; font-size: 1.7em; }

#contact { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

#contact form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; margin-bottom: 7rem; }

#contact form label { display: none; }

#contact form input, #contact form textarea { opacity: 0.5; padding: 0.875rem 0; font-size: 1em; font-family: var(--text-ff); border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2); background-color: transparent; color: var(--text); font-weight: 500; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#contact form input:focus, #contact form input:active, #contact form textarea:focus, #contact form textarea:active { opacity: 1; outline: none; border-color: var(--text); }

#contact form textarea { resize: vertical; height: 7rem; }

#contact form .form-control { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media screen and (max-width: 550px) { #contact form .form-control { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; } }

#contact form .form-control > * { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

#contact form .form-control > *:last-child { margin-left: 3.5rem; }

@media screen and (max-width: 550px) { #contact form .form-control > *:last-child { margin-left: 0; margin-top: 1.75rem; } }

#contact form .captcha-and-submit { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#contact form .captcha-and-submit button { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; cursor: pointer; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; border: none; outline: none; padding: 0.75em 1em; font-size: 1em; font-family: var(--text-ff); background-color: var(--text); color: var(--secondary-background); border: 1px solid var(--text); font-weight: 500; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#contact form .captcha-and-submit button:hover, #contact form .captcha-and-submit button:focus { background-color: var(--secondary-background); color: var(--text); }

#contact form > * { margin-bottom: 1.75rem; }

#contact form *:last-child { margin-bottom: 0; }

#contact .contact-details { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media screen and (max-width: 700px) { #contact .contact-details { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; } }

#contact .contact-details ul { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; list-style-type: none; margin-left: 3.5rem; }

@media screen and (max-width: 900px) { #contact .contact-details ul { margin-left: 1.75rem; } }

@media screen and (max-width: 700px) { #contact .contact-details ul { margin-left: 0rem; } }

#contact .contact-details ul li { margin-bottom: 1.75rem; }

#contact .contact-details ul li span { opacity: 0.5; font-size: 1.1rem; }

#contact .contact-details ul li a { color: var(--text); margin-left: 0.875rem; font-size: 1.1rem; }

#contact .contact-details #google-map { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; background-image: url(/assets/map.png); height: 400px; }

#contact::before { content: ''; position: absolute; top: 0; bottom: 0; left: -100vw; width: 200vw; background-color: var(--secondary-background); z-index: -1; }

footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 7rem 0; position: relative; }

footer::before { content: ''; position: absolute; top: 0; bottom: 0; left: -100vw; width: 200vw; background-color: var(--secondary-background); z-index: -1; }

footer span { opacity: 0.6; text-transform: uppercase; font-size: 0.9em; margin-bottom: 0.5rem; }

footer ul { list-style-type: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer ul li { opacity: 0.5; -webkit-transition: opacity 0.25s ease; transition: opacity 0.25s ease; margin-right: 2.5rem; }

footer ul li:hover { opacity: 1; }

footer ul li:last-child { margin-right: 0; }

footer ul li img { width: 1.05rem; }
