*, *::before, *::after { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root { --highlight: #068a01; --text: #333; --background: #fdfdfd; --text-ff: 'Hind', sans-serif; --titles-ff: 'Eczar', serif; }

body { font-family: var(--text-ff); font-weight: 300; color: var(--text); background-color: var(--background); line-height: 1.4; }

a { color: var(--highlight); }

a:hover { color: var(--text); }

.navbar { position: fixed; top: 0; left: 0; right: 0; padding: 3rem 4rem; background-color: transparent; }

.navbar ul { list-style-type: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.navbar ul li { margin-right: 3rem; }

.navbar ul li .logo { color: white; font-family: var(--titles-ff); font-size: 1.5em; }

.navbar ul li a { font-size: 0.75em; letter-spacing: 2px; font-weight: 500; text-decoration: none; color: white; text-transform: uppercase; -webkit-transition: color 0.1s ease-in-out; transition: color 0.1s ease-in-out; }

.navbar ul li a:hover { color: var(--highlight); }

.navbar ul li:first-child { margin-right: auto; }

.navbar ul li:last-child { margin-right: 0; }

.navbar.fixed { padding: 1.5rem 4rem; background-color: #fff; -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04); box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04); }

.navbar.fixed .logo { color: var(--text); }

.navbar.fixed .logo:hover { color: var(--highlight); }

.navbar.fixed ul li a { color: var(--text); }

.navbar.fixed ul li a:hover { color: var(--highlight); }
